# Chennai dataset for zomato

# import the library

In [1]:
import pandas as pd
import numpy as np

# visulation purpase
import matplotlib.pyplot as plt
import seaborn as sns

# import the dataSet

In [2]:
dataSet = pd.read_csv('Zomato Chennai Listing 2020.csv')

In [3]:
dataSet.head()

,Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,https://www.zomato.com/chennai/yaa-mohaideen-b...,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,https://www.zomato.com/chennai/sukkubhai-biriy...,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,https://www.zomato.com/chennai/ss-hyderabad-bi...,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,https://www.zomato.com/chennai/kfc-perambur,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,https://www.zomato.com/chennai/tasty-kitchen-p...,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"

# Get the basic information

In [4]:
dataSet.shape

(12032, 12)

In [5]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 12 columns):
Zomato URL               12032 non-null object
Name of Restaurant       12032 non-null object
Address                  12032 non-null object
Location                 12032 non-null object
Cuisine                  12032 non-null object
Top Dishes               12032 non-null object
Price for 2              12032 non-null float64
Dining Rating            12032 non-null object
Dining Rating Count      12032 non-null object
Delivery Rating          12032 non-null object
Delivery Rating Count    12032 non-null object
Features                 12032 non-null object
dtypes: float64(1), object(11)
memory usage: 1.1+ MB

In [6]:
# change the price for 2 into object

dataSet['Price for 2'] = dataSet['Price for 2'].astype('str')

In [7]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 12 columns):
Zomato URL               12032 non-null object
Name of Restaurant       12032 non-null object
Address                  12032 non-null object
Location                 12032 non-null object
Cuisine                  12032 non-null object
Top Dishes               12032 non-null object
Price for 2              12032 non-null object
Dining Rating            12032 non-null object
Dining Rating Count      12032 non-null object
Delivery Rating          12032 non-null object
Delivery Rating Count    12032 non-null object
Features                 12032 non-null object
dtypes: object(12)
memory usage: 1.1+ MB

In [8]:
dataSet.describe()

,Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
count,12032,12032,12032,12032,12032,12032,12032,12032,12032,12032,12032,12032
unique,12032,8369,10828,268,2423,2190,64,35,794,33,2282,1554
top,https://www.zomato.com/chennai/jil-jil-royapuram,Amma Unavagam,Delivery Only,Porur,['South Indian'],Invalid,300.0,None,Does not offer Dining,None,Not enough Delivery Reviews,"['Home Delivery', 'Indoor Seating']"
freq,1,78,443,418,883,9641,2014,5351,2603,5851,3379,2447

# cleaning the dataSet

In [9]:
dataSet.drop(['Zomato URL', 'Address', 'Features'], axis = 1, inplace = True)

In [10]:
dataSet.head(2)

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200

# Check the null dataset

In [11]:
dataSet.isnull().sum()

Name of Restaurant       0
Location                 0
Cuisine                  0
Top Dishes               0
Price for 2              0
Dining Rating            0
Dining Rating Count      0
Delivery Rating          0
Delivery Rating Count    0
dtype: int64

# Work in Location

In [12]:
dataSet['Location'].describe()

count     12032
unique      268
top       Porur
freq        418
Name: Location, dtype: object

In [13]:
# it remove the ','

dataSet['Location'] = dataSet['Location'].str.split(',').str[-1].str.strip()

In [14]:
# it remove the '('

dataSet['Location'] = dataSet['Location'].str.split('(').str[-1].str.strip()

In [15]:
# it remove the ')'

dataSet['Location'] = dataSet['Location'].str.replace(')', '', regex = True)

In [16]:
dataSet.head()

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400

# work in Cuisine

In [17]:
dataSet['Cuisine'].describe()

count                12032
unique                2423
top       ['South Indian']
freq                   883
Name: Cuisine, dtype: object

# work in Top Dishes

In [18]:
dataSet['Top Dishes'].describe()

count       12032
unique       2190
top       Invalid
freq         9641
Name: Top Dishes, dtype: object

# Work in Price for 2

In [19]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 9 columns):
Name of Restaurant       12032 non-null object
Location                 12032 non-null object
Cuisine                  12032 non-null object
Top Dishes               12032 non-null object
Price for 2              12032 non-null object
Dining Rating            12032 non-null object
Dining Rating Count      12032 non-null object
Delivery Rating          12032 non-null object
Delivery Rating Count    12032 non-null object
dtypes: object(9)
memory usage: 846.1+ KB

In [20]:
dataSet.rename(columns = {'Price for 2':'Price'}, inplace = True)

In [21]:
# Price data value is object change into float

dataSet['Price'] = dataSet['Price'].astype('float64')

# Work in Dining Rating

In [22]:
dataSet['Dining Rating'].value_counts().head()

None    5351
3.6      584
3.5      553
3.7      525
3.4      500
Name: Dining Rating, dtype: int64

In [23]:
# Change the none value is 0

dataSet['Dining Rating'].replace(to_replace = ['None'], value = '0', inplace = True)

In [24]:
# dining Rating data value is object change into float

dataSet['Dining Rating'] = dataSet['Dining Rating'].astype('float64')

# work in Dining Rating count

In [25]:
dataSet['Dining Rating Count'].value_counts()

Does not offer Dining        2603
Not enough Dining Reviews    2528
4                             339
5                             271
6                             248
                             ...
385                             1
1302                            1
636                             1
1104                            1
906                             1
Name: Dining Rating Count, Length: 794, dtype: int64

In [26]:
dataSet['Dining Rating Count'].replace(to_replace = ['Does not offer Dining', 'Not enough Dining Reviews', 'None'], value = '0', inplace = True)

In [27]:
dataSet['Dining Rating Count'] = dataSet['Dining Rating Count'].astype('int64')

# work in Delivery Rating

In [30]:
dataSet['Delivery Rating'].value_counts().head()

None    5851
3.9     1383
3.8      701
4.0      570
3.7      559
Name: Delivery Rating, dtype: int64

In [33]:
# Change the none value is 0

dataSet['Delivery Rating'].replace(to_replace = ['None'], value = '0', inplace = True)

In [34]:
# Delivery Rating data value is object change into float

dataSet['Delivery Rating'] = dataSet['Delivery Rating'].astype('float64')

# work in Delivery Rating counts

In [47]:
dataSet['Delivery Rating Count'].value_counts()

Not enough Delivery Reviews    3379
Does not offer Delivery        2252
0                               239
27                               34
40                               30
                               ...
1631                              1
3960                              1
2405                              1
1541                              1
19400                             1
Name: Delivery Rating Count, Length: 2281, dtype: int64

In [50]:
dataSet['Delivery Rating Count'].replace(to_replace = ['Does not offer Delivery', 'Not enough Delivery Reviews'], value = '0', inplace = True)

In [54]:
dataSet['Delivery Rating Count'] = dataSet['Delivery Rating Count'].astype('int64')

# DataSet check full

In [58]:
dataSet.isnull().sum()

Name of Restaurant       0
Location                 0
Cuisine                  0
Top Dishes               0
Price                    0
Dining Rating            0
Dining Rating Count      0
Delivery Rating          0
Delivery Rating Count    0
dtype: int64

In [59]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 9 columns):
Name of Restaurant       12032 non-null object
Location                 12032 non-null object
Cuisine                  12032 non-null object
Top Dishes               12032 non-null object
Price                    12032 non-null float64
Dining Rating            12032 non-null float64
Dining Rating Count      12032 non-null int64
Delivery Rating          12032 non-null float64
Delivery Rating Count    12032 non-null int64
dtypes: float64(3), int64(2), object(4)
memory usage: 846.1+ KB

In [61]:
dataSet.shape

(12032, 9)

In [64]:
dataSet.head()

,Name of Restaurant,Location,Cuisine,Top Dishes,Price,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400

# Analysis the DataSet